<section class="events">
  <h2>Agenda</h2>
  <p class="subhead">Aankomende seminars en activiteiten voor <i>jōdō</i> in Nederland</p>
  <p>De tweewekelijkse <i>keikokai</i> 稽古会 (centrale trainingen) in Groningen en Amsterdam zijn open voor alle niveaus&hairsp;—&hairsp;ook voor beginners. Neem gerust <a href="mailto:info@jodo-groningen.nl">contact</a> op als je eens wilt meedoen, je bent van harte welkom!</p>

  {% assign now = 'now' | date_to_xmlschema %}
  {% assign events = site.data.events | sort: 'starts_at' %}
  {% if events %}
    <ul class="events-list">

      {% for event in events %}
        {% assign starts_at = event.starts_at | date_to_xmlschema %}

        {% if starts_at < now %}
          {% continue %}
        {% endif %}

        {% assign ends_at = event.ends_at | date_to_xmlschema %}
        {% assign starts_at_month = event.starts_at | date: '%m' %}
        {% assign ends_at_month = event.ends_at | date: '%m' %}
        {% assign starts_at_day = event.starts_at | date: '%-d' %}
        {% assign ends_at_day = event.ends_at | date: '%-d' %}
        {% assign starts_at_format = '%A %-d %B' %}
        {% assign ends_at_format = '%A %-d %B' %}
        {% assign separator = ' t/m ' %}

        {% if starts_at_day == ends_at_day %}
          {% assign starts_at_format = '%A %-d %B&ensp;%R' %}
          {% assign ends_at_format = '%R' %}
          {% assign separator = '&thinsp;–&thinsp;' %}
        {% elsif starts_at_month == ends_at_month %}
          {% assign starts_at_format = '%A %-d' %}
        {% endif %}

        {% capture datetime %}
          {% capture i18n_starts_at %}
            {%- include i18n/date date=event.starts_at format=starts_at_format -%}
          {% endcapture %}
          <time datetime="{{ starts_at }}">
            {{- i18n_starts_at | capitalize -}}
          </time>
          {{- separator -}}
          <time datetime="{{ ends_at }}">
            {%- include i18n/date date=ends_at format=ends_at_format -%}
          </time>
        {% endcapture %}

        {% capture location %}
          {% assign location = event.address | split: ', ' | last %}
          {% if location == 'Groningen' or location == 'Amsterdam' %}
            {{ location | downcase }}
          {%- else -%}
            other
          {%- endif -%}
        {% endcapture %}

        <li class="event {{ location }}">
          <div class="event-date">
            <span class="event-day">{{ starts_at_day }}</span>
            <span class="event-month">{% include i18n/date date=event.starts_at format='%b' %}</span>
          </div>
          <div class="event-details">
            <h3>{{ event.name }}</h3>
            <p>{{ datetime }}</p>
            <p>{{ event.address }}</p>
          </div>
        </li>
      {% endfor %}

    </ul>
  {% endif %}

</section>
