<section class="events">
  <h2>Agenda</h2>
  <p class="subhead">Aankomende seminars en activiteiten voor <i>jōdō</i> in Nederland</p>
  <p>De tweewekelijkse <i>keikokai</i> 稽古会 (centrale trainingen) in Groningen en Amsterdam zijn open voor alle niveaus&hairsp;—&hairsp;ook voor beginners. Neem gerust <a href="mailto:info@jodo-groningen.nl">contact</a> op als je eens wilt meedoen, je bent van harte welkom!</p>
  <ul class="events-list">
    <li class="event groningen">
      <div class="event-date">
        <span class="event-day">22</span>
        <span class="event-month">sep</span>
      </div>
      <div class="event-details">
        <h3>Open les Jōdō Groningen</h3>
        <p>Maandag 22 september&ensp;19.00&thinsp;–&thinsp;21.00 uur</p>
        <p>Kluiverboom 1c, Groningen</p>
      </div>
    </li>
    <li class="event amsterdam">
      <div class="event-date">
        <span class="event-day">5</span>
        <span class="event-month">okt</span>
      </div></div>
      <div class="event-details">
        <h3>Keikokai Amsterdam</h3>
        <p>Zondag 5 oktober&ensp;10.00&thinsp;–&thinsp;13.00 uur</p>
        <p>Lodewijk van Deijsselstraat 107, Amsterdam</p>
      </div>
    </li>
    <li class="event groningen">
      <div class="event-date">
        <span class="event-day">18</span>
        <span class="event-month">okt</span>
      </div>
      <div class="event-details">
        <h3>Keikokai Groningen</h3>
        <p>Zaterdag 18 oktober&ensp;13.30&thinsp;–&thinsp;16.30 uur</p>
        <p>Kluiverboom 1c, Groningen</p>
      </div>
    </li>
    <li class="event other">
      <div class="event-date">
        <span class="event-day">25&thinsp;–&thinsp;26</span>
        <span class="event-month">okt</span>
      </div>
      <div class="event-details">
        <h3>6th Ravensburg Gasshuku, Jan Gerrit Post & Cédric Russo</h3>
        <p>Zaterdag 25 t/m zondag 26 oktober</p>
        <p>Schule Ravensburg-Oberzell, Duitsland</p>
      </div>
    </li>
    <li class="event amsterdam">
      <div class="event-date">
        <span class="event-day">2</span>
        <span class="event-month">nov</span>
      </div></div>
      <div class="event-details">
        <h3>Keikokai Amsterdam</h3>
        <p>Zondag 2 november&ensp;10.00&thinsp;–&thinsp;13.00 uur</p>
        <p>Lodewijk van Deijsselstraat 107, Amsterdam</p>
      </div>
    </li>
    <li class="event groningen">
      <div class="event-date">
        <span class="event-day">8</span>
        <span class="event-month">nov</span>
      </div>
      <div class="event-details">
        <h3>Keikokai Groningen</h3>
        <p>Zaterdag 8 november&ensp;13.30&thinsp;–&thinsp;16.30 uur</p>
        <p>Kluiverboom 1c, Groningen</p>
      </div>
    </li>
    <li class="event other">
      <div class="event-date">
        <span class="event-day">30</span>
        <span class="event-month">nov</span>
      </div>
      <div class="event-details">
        <h3>Districtstage JBN Zuid-Nederland, Jan Gerrit Post & Christiaan Zandt</h3>
        <p>Zondag 30 november&ensp;10.00&thinsp;–&thinsp;13.00 uur</p>
        <p>Prins Willem Alexander Sportpark, Veghel</p>
      </div>
    </li>
    <li class="event amsterdam">
      <div class="event-date">
        <span class="event-day">7</span>
        <span class="event-month">dec</span>
      </div></div>
      <div class="event-details">
        <h3>Keikokai Amsterdam</h3>
        <p>Zondag 7 december&ensp;10.00&thinsp;–&thinsp;13.00 uur</p>
        <p>Lodewijk van Deijsselstraat 107, Amsterdam</p>
      </div>
    </li>
    <li class="event groningen">
      <div class="event-date">
        <span class="event-day">20</span>
        <span class="event-month">dec</span>
      </div>
      <div class="event-details">
        <h3>Keikokai Groningen</h3>
        <p>Zaterdag 20 december&ensp;13.30&thinsp;–&thinsp;16.30 uur</p>
        <p>Kluiverboom 1c, Groningen</p>
      </div>
    </li>
  </ul>
</section>
