/**
 * Variables: All viewports
 */
:root {

  /* Typography */
  --sans-serif: "Inter Variable", system-ui, sans-serif;
  --sans-serif-ja: "M PLUS 1", system-ui, sans-serif;
  --serif: "EB Garamond", serif;

  --font-size: 100%;

  --font-size-small:         .875rem;     /* 14 */
  --font-size-body:         1rem;         /* 16 */
  --font-size-subheading:   1.125rem;     /* 18 */
  --font-size-callout:      1.5rem;       /* 24 */
  --font-size-heading:      2rem;         /* 32 */
  --font-size-title:        2.625rem;     /* 42 */
  
  --line-height-single:      .75rlh;      /* 18 */
  --line-height-small:       .8333333rlh; /* 20 */
  --line-height-body:       1.5;          /* 24 */
  --line-height-subheading: 1rlh;         /* 24 */
  --line-height-callout:    1.1666667rlh; /* 28 */
  --line-height-heading:    1.5rlh;       /* 36 */
  --line-height-title:      2rlh;         /* 48 */
  
  --font-size-logo: var(--font-size-small);
  --line-height-logo: var(--line-height-single);

  --measure: 36em;

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;


  /* Grid */
  --grid-gap: 1rlh;
  --grid-margin: 1rem;
  --grid-full: 1fr;
  --grid-column: min(var(--measure) / 2, 50% - var(--grid-margin));
  --grid-popout: 0;
  --grid-feature: 0;
  --grid-gallery: 0;


  /* Gallery */
  --gallery-grid-columns: 1fr;

}


/**
 * Variables: Tablet (768px)
 */
@media screen and (min-width: 768px) {
  :root {
    --grid-popout: 3rem;
    --gallery-grid-columns: repeat(2, 1fr);
  }
}


/**
 * Variables: Laptop (1024px)
 */
@media screen and (min-width: 1024px) {
  :root {
    --grid-popout: 3rem;
    --grid-feature: 3rem;
    --grid-gallery: 6rem;
  }
}


/**
 * Variables: Desktop (1280px)
 */
@media screen and (min-width: 1280px) {
  :root {
    --font-size:        112.5%;         /* 18 */
    --font-size-logo:      .7777778rem; /* 14 */
    --line-height-logo:    .6666667rlh; /* 18 */
  }
}